.development-top {
  @include adaptiv-value-to-end("margin-top", 90, 30, $containerAdaptiv, 320);
  display: flex;
  align-items: center;
  column-gap: 46px;
  &__discription {
  }

  &__discription-title {
    margin-bottom: 20px;
  }

  &__discription-text {
  }

  &__img {
    @include adaptiv-value-to-end("width", 500, 300, $containerAdaptiv, $md3-noPX);
    @media (max-width: $md3) {
      display: none;
    }
  }
}

.development-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: $md2) {
    flex-direction: column;
  }
  &__img {
    @media (max-width: $md4) {
      width: 100%;
    }
  }

  &__discription {
    &--order {
      @media (min-width: $md2) {
        order: -1;
      }
    }
  }

  &__discription-title {
    margin-bottom: 30px;
    @media (max-width: $md2) {
      display: none;
    }
  }

  &__discription-title--mobile {
    display: none;
    @media (max-width: $md2) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__discription-text {
  }
}
